# EMIS Data Analysis
After meeting with Michel on Tuesday and Friday, we are getting more clear picture on what business plan we should persue and also what kind of data we want. 
1. We want to use EMIS data because it has equity and shareholder names and comprehensive company information.
2. We should focus on getting ground truth and run the first prediction model.

## Preprocess the company information

In [1]:
import pandas as pd
df_comp_info = pd.read_excel('../../Database/EMIS/Company_info/DATA (11).xlsx', skiprows=7, skip_footer=3)

In [2]:
df_comp_info.shape

(1003, 23)

In [3]:
df_comp_info[:5]

,Num,Country,Company,Industry,City,State/County,Key Executives,Number of Employees,Employee Reference date,Financial Auditors,...,Shareholders,Main Products,Address,Phone,Email,Business Description/Products,Total operating revenue,Fiscal Year,Audited,Consolidated
0,1.0,Brazil,Petroleo Brasileiro S.A.,Petroleum Refineries (32411); Natural Gas Extr...,Rio de Janeiro (City),Rio de Janeiro (Region),Murilo Pinto de Oliveira Ferreira (Chairman of...,68829.0,2016.0,PwC,...,"União Federal (28.67%), Bndes Participacoes S....","petroleum, automotive gasoline, diesel, natura...","Av. Republica do Chile, N 65 - 24 Andar - Centro",+55 21 3224-2040,acionistas@petrobras.com.br,The company Petrobras was founded in October 1...,80952.74,2016,Y,Consolidated
1,2.0,Brazil,Banco Santander S.A.,"Securities, Commodity Contracts, and Other Fin...",Madrid,NaN,Ana Patricia Botin-Sanz de Sautuola Y o'Shea (...,NaN,NaN,Deloitte,...,"Blackrock, INC (5.01%)",NaN,Avenida de Cantabria - S/N - Ciudad Grupo Santand,+55 34 90211-2211,acionistasbdr@santander.com.br,"Banco Santander S.A. was founded in 1857, head...",59816.49,2017,Y,Consolidated
2,3.0,Brazil,Jbs S.A.,Dairy Product (except Frozen) Manufacturing (...,Sao Paulo (City),Sao Paulo (Region),Joesley Mendonca Batista (Chairman of the Boar...,225422.0,2016.0,BDO,...,"Fb Participacoes S.A. (42.31%), Bndes Particip...",beef manufacturing,"Av. Marginal Direita do Tiete, 500 - Bloco 3 -...","+55 11 3144-4447, +55 11 3144-4224",ri@jbs.com.br,"Initiating as a meat trader in 1953, currently...",48977.85,2016,Y,Consolidated
3,4.0,Brazil,Itau Unibanco Holding S.A.,Banking and Credit Intermediation (522); Manag...,Sao Paulo (City),Sao Paulo (Region),Alberto Sozin Furugem (Board of Directors - Co...,94779.0,2016.0,PwC,...,"Itausa - Investimentos Itau S.A. (37.36%), Iup...",NaN,"Praca Alfredo Egydio De Souza Aranha, 100 ,Tor...",NaN,relacionamento.bacen@itau-unibanco.com.br,"Holding that controls Banco Itaú, a commercial...",34959.26,2017,Y,Consolidated
4,5.0,Brazil,Vale S.A.,Iron Ore Mining (21221); Support Activities fo...,Rio de Janeiro (City),Rio de Janeiro (Region),Dan Antonio Marinho Conrado (Chairman of the B...,73062.0,2016.0,KPMG,...,"Litel Participacoes S.A. (22.57%), Bndes Parti...","mining, steel producing, logistics and energy","Av. Graca Aranha, 26 - 12 Andar - Centro",+55 21 3814-4540,rogerio.nogueira@vale.com,"The company, formerly known as Companhia Vale ...",34302.29,2017,Y,Consolidated

In [4]:
df_comp_info.iloc[:,0:10].describe(include='all')

,Num,Country,Company,Industry,City,State/County,Key Executives,Number of Employees,Employee Reference date,Financial Auditors
count,1000.000000,1000,1000,1000,1000,998,970,700.000000,700.000000,605
unique,NaN,1,998,350,206,28,967,NaN,NaN,50
top,NaN,Brazil,Nextel Telecomunicacoes Ltda.,Management of Companies and Enterprises (55),Sao Paulo (City),Sao Paulo (Region),"Adrian Gustavo Isman (President), Luis Rheinga...",NaN,NaN,KPMG
freq,NaN,1000,2,98,329,329,2,NaN,NaN,150
mean,500.500000,NaN,NaN,NaN,NaN,NaN,NaN,7066.167143,2014.140000,NaN
std,288.819436,NaN,NaN,NaN,NaN,NaN,NaN,17053.266175,2.345751,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2003.000000,NaN
25%,250.750000,NaN,NaN,NaN,NaN,NaN,NaN,376.250000,2012.000000,NaN
50%,500.500000,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,2014.000000,NaN
75%,750.250000,NaN,NaN,NaN,NaN,NaN,NaN,6189.500000,2016.000000,NaN
max,1000.000000,NaN,NaN,NaN,NaN,NaN,NaN,225422.000000,2018.000000,NaN

In [5]:
df_comp_info.iloc[:,10:].describe(include='all')

,Listed/Unlisted,Operational Status,National Fiscal IDs,Shareholders,Main Products,Address,Phone,Email,Business Description/Products,Total operating revenue,Fiscal Year,Audited,Consolidated
count,1000,1000,1000,658,393,1000,864,670,963,1000.000000,1000,1000,1000
unique,4,4,1000,629,321,992,855,622,863,NaN,7,2,2
top,Unlisted,Operational,CGC:07170943; CNPJ:07170943/0001-01,Cpfl Energia S.A. (100.00%),Holding Companies And Non-financial Institutions.,Av.Marechal Floriano - 168 - Centro,+55 19 3756-6083,relacionamento.bacen@itau-unibanco.com.br,Number of employees: Between 10 and 49 employe...,NaN,2016,Y,Individual
freq,753,958,1,5,26,2,5,5,32,NaN,520,580,557
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1729.924500,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4600.538273,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321.510000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,447.240000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,653.800000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1328.917500,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80952.740000,NaN,NaN,NaN

In [6]:
df_comp_info['Operational Status'].unique()

array([u'Operational', u'Closed', u'Under Legal Investigation',
       u'Liquidation', nan], dtype=object)

In [7]:
# 'Index_Num': The initial downloading index number; 'Key_Executives': un-parsed executives; 'Status': two statues(
# 'operational'-1, 'others'-0); 'Consolidated': two statues('consolidated'-1, 'individual'-0)

# df_comp_info_single_equity = pd.DataFrame(columns=['Index_Num','Company','Key_Executives','Employee_Number','Employee_Info_Year',
#                                         'Financial_Auditors','Main_Products','Phone','Email','Business_Description','Shareholder_String',
#                                         'Revenue_2017','Revenue_2016','Revenue_2015','Revenue_2014','Revenue_2013','Revenue_2012',
#                                         'Revenue_Estimated_Klooks','Industry_List','NAICS_Num_List','Status','CNPJ',
#                                         'Audited','Consolidated','Shareholder_Num','Shareholder_Index','Shareholder','Equity'])

In [8]:
import re
import copy
import numpy as np

def Append_Comp_Info(df_raw, df_target):
    """Preprocess a raw dataframe from company information and append the results to target dataframe."""
    row_num = df_target.shape[0]
    print("The raw data has number of rows %s \n The target dataframe have number of rows %s" % (df_raw.shape[0], row_num))
    # This set is for the suffix of shareholder names. Those suffix are preceded by comma which make the parsing of shareholders
    # problematic.
    suffix_set = set(['L\.P\.', 'Inc', 'INC', 'S\.L', 'S\.A\.', 'LLC', 'Ltd', 'Llc', 'Lp', 'L\.P', 'Sl', 'Obras', 'Ltda', 'Lda',
                      'Cuniff', 'Cunniff', 'Mayo', 'Redito', 'S\sL', 'S\.A\.B\.', 'C\.V\.', 'S\s', 'V\s', 'com\s',
                      'National\sAssociation', 'Importacao', 'Brasil\sLtda', 'Participacao', 'Credito', 'Financiamento', 'Comercio',
                      'Sociedade'])
    suffix_cnpj_set = set([u'01545826000107', u'33611500000119', u'10808462000193', u'04065033000170', u'03847461000192', 
                           u'09191251000175', u'14578002000177', u'02387241000160', u'07207197000183', u'33014556000196', 
                           u'08322396000103', u'22677520000176', u'33022203000138', u'11284204000118', u'08902291000115', 
                           u'13407617000178', u'61409892000173', u'12944170000103', u'02221358000170', u'08764621000153', 
                           u'02619221000178', u'02191601000154', u'03870455000580', u'87376109000106', u'29978814000187', 
                           u'16614075000100', u'58514928000174', u'18499616000114', u'02440482000126', u'04437534000130', 
                           u'60398369000126', u'40281347000174', u'02102498000129', u'34075739000184', u'06945520000153', 
                           u'01083200000118', u'03002339000115', u'10807972000146', u'02558157000162', u'71550388000142', 
                           u'54517628000198', u'30937874000130', u'72908353000103', u'33592510000154', u'09149503000106', 
                           u'63310411000101', u'76483817000120', u'03537249000129', u'04221023000187', u'89545511000100', 
                           u'33931494000187', u'02800026000140', u'50290329000102', u'60872504000123', u'00001180000126', 
                           u'14807945000124', u'90400888000142', u'09080006000190', u'06977751000149', u'43470988000165', 
                           u'75315333000109', u'71371686000175', u'14868712000131', u'03983431000103', u'08446503000105', 
                           u'92754738000162', u'50306471000109', u'03220438000173', u'07857850000150', u'02917443000177', 
                           u'09346601000125', u'00950724000104', u'42564807000105', u'33170085000105', u'02009924000184', 
                           u'07043628000113', u'95424321000120', u'07021544000189', u'11055041000100', u'05648257000178', 
                           u'06977745000191', u'47067525000108', u'90852914000173', u'11395604000109', u'09509535000167', 
                           u'05692190000179', u'84685106000166', u'42123091000100', u'04834395000189', u'01961898000127', 
                           u'02380162000128', u'03502099000118', u'33040981000150', u'07689002000189', u'61585865000151', 
                           u'12708358000152', u'09060964000108', u'08610386000165', u'05808792000149', u'40432544000147', 
                           u'72712201000122', u'07779299000173', u'09305994000129', u'02998301000181', u'08078847000109', 
                           u'05707616000110', u'09462140000156', u'66703554000163', u'11744699000110', u'02365069000144', 
                           u'03112879000151', u'02919555000167', u'03065552000176', u'62255682000130', u'08505736000123', 
                           u'03853896000140'])
    CNPJ_set = set()
    for idx, row in df_raw.iterrows():
        # Each row have following value:['Index_Num','Company','Key_Executives','Employee_Number','Employee_Info_Year',
        #                                'Financial_Auditors','Main_Products','Phone','Email','Business_Description','Shareholder_String',
        #                                'Revenue_2017','Revenue_2016','Revenue_2015','Revenue_2014','Revenue_2013','Revenue_2012',
        #                                'Revenue_Estimated_Klooks','Industry_List','NAICS_Num_List','Status','CNPJ',
        #                                'Audited','Consolidated','Shareholder_Num','Shareholder_Index','Shareholder','Equity']
        if np.isnan(row['Num']): # if this row is empty, skip
            print("The row %s is invalid (%s)" % (idx, row['Num']))
            continue
        row_temp = []
        # Direct copy columns
        row_temp.extend(row[['Num','Company','Key Executives','Number of Employees','Employee Reference date','Financial Auditors',
                             'Main Products','Phone','Email','City','State/County','Address','Business Description/Products',
                             'Shareholders']])
        # Total operating revenue
        if re.match(r'2017',row['Fiscal Year']):
            row_temp.extend([row['Total operating revenue'], np.nan, np.nan, np.nan, np.nan, np.nan, np.nan])
        elif re.match(r'2016',row['Fiscal Year']):
            row_temp.extend([np.nan, row['Total operating revenue'], np.nan, np.nan, np.nan, np.nan, np.nan])
        elif re.match(r'2015',row['Fiscal Year']):
            row_temp.extend([np.nan, np.nan, row['Total operating revenue'], np.nan, np.nan, np.nan, np.nan])
        elif re.match(r'2014',row['Fiscal Year']):
            row_temp.extend([np.nan, np.nan, np.nan, row['Total operating revenue'], np.nan, np.nan, np.nan])
        elif re.match(r'2013',row['Fiscal Year']):
            row_temp.extend([np.nan, np.nan, np.nan, np.nan, row['Total operating revenue'], np.nan, np.nan])
        elif re.match(r'2012',row['Fiscal Year']):
            row_temp.extend([np.nan, np.nan, np.nan, np.nan, np.nan, row['Total operating revenue'], np.nan])
        else:
            row_temp.extend([np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, row['Total operating revenue']])
        # Industy and NAICS numbers
        row_temp.append(';'.join(re.findall(r'([^();]+)\([0-9]+\)',row['Industry'])))# For industry name
        # Cannot use comma, because this would mix with comma from csv
        row_temp.append(';'.join(re.findall(r'\(([0-9]+)\)',row['Industry'])))# For NAICS number
        # Operating status
        row_temp.append(int(bool(re.match(r'operational',row['Operational Status'].lower()))))
        # CNPJ
        CNPJ = ''.join(re.findall(r'CNPJ\s*:\s*([0-9]{8})/([0-9]{4})-([0-9]{2})',row['National Fiscal IDs'])[0])
        if CNPJ in CNPJ_set: # Check if any CNPJ is duplicated
            print("The index: %s; The company name: %s; The CNPJ: %s" % (row["Num"], row["Company"], CNPJ))
        else:
            CNPJ_set.add(CNPJ)
        row_temp.append(CNPJ)
        # Audited or not
        row_temp.append(int(bool(re.match(r'Y',row['Audited']))))
        # Consolidated or not
        row_temp.append(int(bool(re.match(r'Consolidated',row['Consolidated']))))
        # Separate shareholders in shareholder list
        try:
            shareholder_list = row['Shareholders'].split(',')
        except AttributeError as e:
            shareholder_list = []
            # print("Index: %s; The error is %s" % (idx,e))
        if shareholder_list:
            row_temp.append(len(shareholder_list))
            for sh_idx, sh in enumerate(shareholder_list):
                row_temp1 = copy.copy(row_temp)# Have to deep copy
                row_temp.append(sh_idx)
                sh = sh.strip()
                equity = re.findall(r'\(([0-9\.]+)%\)', sh, re.U)
                if equity: # Exist equity information
                    sh_name = re.findall(r'(.+)\([0-9\.]+%\)', sh, re.U)
                    if sh_name:
                        if CNPJ in suffix_cnpj_set:
                            skip_flag = False
                            for ele in suffix_set:
                                if re.match(r'^'+ele+'.*', sh_name[0].strip()):
                                    df_target.at[row_num-1,'Shareholder'] += ' ' + sh_name[0].strip()
                                    df_target.at[row_num-1,'Equity'] = float(equity[0])
                                    skip_flag = True
                                    break
                            if skip_flag:# If shareholder has a comma in name, skip this iteration
                                row_temp = row_temp1
                                continue                                
                        row_temp.append(sh_name[0].strip())
                    else: # Some times they mistakenly add comma between name and equity
                        row_temp.append(u'')
                        print('Index: %s; Shareholders: %s' % (row['Num'], row['Shareholders']))
                    row_temp.append(float(equity[0]))
                else: # Only has Shareholder information
                    row_temp.extend([sh, np.nan])
                df_target.loc[row_num] = row_temp
                row_num += 1
                row_temp = row_temp1                    
        else:
            row_temp.extend([np.nan,np.nan,'',np.nan])
            df_target.loc[row_num] = row_temp
            row_num += 1
            
    print("Current number of rows of the target dataframe %s; The number of unique CNPJ is %s" % (df_target.shape[0], len(CNPJ_set)))

In [18]:
import os
import pandas as pd
from time import time
# 'Index_Num': The initial downloading index number; 'Key_Executives': un-parsed executives; 'Status': two statues(
# 'operational'-1, 'others'-0); 'Consolidated': two statues('consolidated'-1, 'individual'-0)
# Equity is in percentage
df_comp_info_single_equity = pd.DataFrame(columns=['Index_Num','Company','Key_Executives','Employee_Number','Employee_Info_Year',
                                        'Financial_Auditors','Main_Products','Phone','Email','City','State_County','Address',
                                        'Business_Description','Shareholder_String',
                                        'Revenue_2017','Revenue_2016','Revenue_2015','Revenue_2014','Revenue_2013','Revenue_2012',
                                        'Revenue_Estimated_Klooks','Industry_List','NAICS_Num_List','Status','CNPJ',
                                        'Audited','Consolidated','Shareholder_Num','Shareholder_Index','Shareholder','Equity'])
for filename in os.listdir('../../Database/EMIS/Company_info/'):
    start_time = time()
    df_raw = pd.read_excel(('../../Database/EMIS/Company_info/'+filename), skiprows=7, skip_footer=3)
    Append_Comp_Info(df_raw,df_comp_info_single_equity)
    print('Filename: %s; Time: %s' % (filename, (time()-start_time)))

The raw data has number of rows 1003
 The target dataframe have number of rows 0
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 1836; The number of unique CNPJ is 1000
Filename: DATA (11).xlsx; Time: 16.0413868427
The raw data has number of rows 1003
 The target dataframe have number of rows 1836
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 3487; The number of unique CNPJ is 1000
Filename: DATA (12).xlsx; Time: 18.2348668575
The raw data has number of rows 1003
 The target dataframe have number of rows 3487
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 5007; The number of unique CNPJ is 1000
Filename: DATA (13).xlsx; Time: 19.3424448967
The raw data has number of rows 1003
 The target dataframe have number of rows 5007
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 6500; The number of unique CNPJ is 1000
Filename: DATA (14).xlsx; Time: 20.797629118
The raw data has number of rows 1003
 The target dataframe have number of rows 6500
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 7953; The number of unique CNPJ is 1000
Filename: DATA (15).xlsx; Time: 23.2549090385
The raw data has number of rows 1003
 The target dataframe have number of rows 7953
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 9431; The number of unique CNPJ is 1000
Filename: DATA (16).xlsx; Time: 27.0897462368
The raw data has number of rows 1003
 The target dataframe have number of rows 9431
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 10811; The number of unique CNPJ is 1000
Filename: DATA (17).xlsx; Time: 28.7612178326
The raw data has number of rows 1003
 The target dataframe have number of rows 10811
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 12208; The number of unique CNPJ is 1000
Filename: DATA (18).xlsx; Time: 31.4402410984
The raw data has number of rows 1003
 The target dataframe have number of rows 12208
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 13508; The number of unique CNPJ is 1000
Filename: DATA (19).xlsx; Time: 31.2312340736
The raw data has number of rows 1003
 The target dataframe have number of rows 13508
The row 1000 is invalid (nan)
The row 1001 is invalid (nan)
The row 1002 is invalid (nan)
Current number of rows of the target dataframe 14831; The number of unique CNPJ is 1000
Filename: DATA (20).xlsx; Time: 33.9034309387

In [19]:
df_comp_info_single_equity.iloc[:5,:13]

,Index_Num,Company,Key_Executives,Employee_Number,Employee_Info_Year,Financial_Auditors,Main_Products,Phone,Email,City,State_County,Address,Business_Description
0,1.0,Petroleo Brasileiro S.A.,Murilo Pinto de Oliveira Ferreira (Chairman of...,68829.0,2016.0,PwC,"petroleum, automotive gasoline, diesel, natura...",+55 21 3224-2040,acionistas@petrobras.com.br,Rio de Janeiro (City),Rio de Janeiro (Region),"Av. Republica do Chile, N 65 - 24 Andar - Centro",The company Petrobras was founded in October 1...
1,1.0,Petroleo Brasileiro S.A.,Murilo Pinto de Oliveira Ferreira (Chairman of...,68829.0,2016.0,PwC,"petroleum, automotive gasoline, diesel, natura...",+55 21 3224-2040,acionistas@petrobras.com.br,Rio de Janeiro (City),Rio de Janeiro (Region),"Av. Republica do Chile, N 65 - 24 Andar - Centro",The company Petrobras was founded in October 1...
2,1.0,Petroleo Brasileiro S.A.,Murilo Pinto de Oliveira Ferreira (Chairman of...,68829.0,2016.0,PwC,"petroleum, automotive gasoline, diesel, natura...",+55 21 3224-2040,acionistas@petrobras.com.br,Rio de Janeiro (City),Rio de Janeiro (Region),"Av. Republica do Chile, N 65 - 24 Andar - Centro",The company Petrobras was founded in October 1...
3,2.0,Banco Santander S.A.,Ana Patricia Botin-Sanz de Sautuola Y o'Shea (...,NaN,NaN,Deloitte,NaN,+55 34 90211-2211,acionistasbdr@santander.com.br,Madrid,NaN,Avenida de Cantabria - S/N - Ciudad Grupo Santand,"Banco Santander S.A. was founded in 1857, head..."
4,3.0,Jbs S.A.,Joesley Mendonca Batista (Chairman of the Boar...,225422.0,2016.0,BDO,beef manufacturing,"+55 11 3144-4447, +55 11 3144-4224",ri@jbs.com.br,Sao Paulo (City),Sao Paulo (Region),"Av. Marginal Direita do Tiete, 500 - Bloco 3 -...","Initiating as a meat trader in 1953, currently..."

In [20]:
df_comp_info_single_equity.iloc[:5,13:]

,Shareholder_String,Revenue_2017,Revenue_2016,Revenue_2015,Revenue_2014,Revenue_2013,Revenue_2012,Revenue_Estimated_Klooks,Industry_List,NAICS_Num_List,Status,CNPJ,Audited,Consolidated,Shareholder_Num,Shareholder_Index,Shareholder,Equity
0,"União Federal (28.67%), Bndes Participacoes S....",NaN,80952.74,NaN,NaN,NaN,NaN,NaN,Petroleum Refineries ; Natural Gas Extraction ...,32411;21113;21112,1,33000167000101,1,1,3,0,União Federal,28.67
1,"União Federal (28.67%), Bndes Participacoes S....",NaN,80952.74,NaN,NaN,NaN,NaN,NaN,Petroleum Refineries ; Natural Gas Extraction ...,32411;21113;21112,1,33000167000101,1,1,3,1,Bndes Participacoes S.A. - Bndespar,9.67
2,"União Federal (28.67%), Bndes Participacoes S....",NaN,80952.74,NaN,NaN,NaN,NaN,NaN,Petroleum Refineries ; Natural Gas Extraction ...,32411;21113;21112,1,33000167000101,1,1,3,2,Banco Nacional De Desenvolvimento Economico E ...,6.87
3,"Blackrock, INC (5.01%)",59816.49,NaN,NaN,NaN,NaN,NaN,NaN,"Securities, Commodity Contracts, and Other Fin...",523;522,1,05707616000110,1,1,2,0,Blackrock INC,5.01
4,"Fb Participacoes S.A. (42.31%), Bndes Particip...",NaN,48977.85,NaN,NaN,NaN,NaN,NaN,Manufacturing ; Animal Slaughtering and Proc...,31151;3116;316,1,02916265000160,1,1,2,0,Fb Participacoes S.A.,42.31

In [21]:
df_comp_info_single_equity[['CNPJ','Shareholder_Num']].describe()

                  CNPJ  Shareholder_Num
count            14831             9839
unique           10000               15
top     76549856000182                2
freq                15             2967

In [22]:
df_comp_info_single_equity = df_comp_info_single_equity.sort_values('Index_Num')
df_comp_info_single_equity.reset_index(drop=True,inplace=True)# This line is necessary, o.w. 
# later process related to enumerate() and .at[idx, ...] can be wrong.
for idx, row in df_comp_info_single_equity.iterrows():
    df_comp_info_single_equity.at[idx,'Shareholder_Num'] = (
        df_comp_info_single_equity[df_comp_info_single_equity['CNPJ']==row['CNPJ']].shape[0])

In [23]:
# Cannot store in .csv file, becasue the string in this dataframe has lots of special characters
df_comp_info_single_equity.to_pickle('../../Database/EMIS/preprocessed/comp_info_20180309.pickle')
df_comp_info_single_equity.to_excel('../../Database/EMIS/preprocessed/comp_info_20180322.xlsx',encoding='utf16')

In [15]:
df_comp_info_single_equity_load = pd.read_pickle('../../Database/EMIS/preprocessed/comp_info_20180309.pickle')

In [17]:
list(df_comp_info_single_equity_load)

['Index_Num',
 'Company',
 'Key_Executives',
 'Employee_Number',
 'Employee_Info_Year',
 'Financial_Auditors',
 'Main_Products',
 'Phone',
 'Email',
 'City',
 'State/County',
 'Address',
 'Business_Description',
 'Shareholder_String',
 'Revenue_2017',
 'Revenue_2016',
 'Revenue_2015',
 'Revenue_2014',
 'Revenue_2013',
 'Revenue_2012',
 'Revenue_Estimated_Klooks',
 'Industry_List',
 'NAICS_Num_List',
 'Status',
 'CNPJ',
 'Audited',
 'Consolidated',
 'Shareholder_Num',
 'Shareholder_Index',
 'Shareholder',
 'Equity']

In [16]:
df_comp_info_single_equity_load[:15]

,Index_Num,Company,Key_Executives,Employee_Number,Employee_Info_Year,Financial_Auditors,Main_Products,Phone,Email,City,...,Industry_List,NAICS_Num_List,Status,CNPJ,Audited,Consolidated,Shareholder_Num,Shareholder_Index,Shareholder,Equity
0,1.0,Petroleo Brasileiro S.A.,Murilo Pinto de Oliveira Ferreira (Chairman of...,68829.0,2016.0,PwC,"petroleum, automotive gasoline, diesel, natura...",+55 21 3224-2040,acionistas@petrobras.com.br,Rio de Janeiro (City),...,Petroleum Refineries ; Natural Gas Extraction ...,32411;21113;21112,1,33000167000101,1,1,3,0,União Federal,28.67
1,1.0,Petroleo Brasileiro S.A.,Murilo Pinto de Oliveira Ferreira (Chairman of...,68829.0,2016.0,PwC,"petroleum, automotive gasoline, diesel, natura...",+55 21 3224-2040,acionistas@petrobras.com.br,Rio de Janeiro (City),...,Petroleum Refineries ; Natural Gas Extraction ...,32411;21113;21112,1,33000167000101,1,1,3,1,Bndes Participacoes S.A. - Bndespar,9.67
2,1.0,Petroleo Brasileiro S.A.,Murilo Pinto de Oliveira Ferreira (Chairman of...,68829.0,2016.0,PwC,"petroleum, automotive gasoline, diesel, natura...",+55 21 3224-2040,acionistas@petrobras.com.br,Rio de Janeiro (City),...,Petroleum Refineries ; Natural Gas Extraction ...,32411;21113;21112,1,33000167000101,1,1,3,2,Banco Nacional De Desenvolvimento Economico E ...,6.87
3,2.0,Banco Santander S.A.,Ana Patricia Botin-Sanz de Sautuola Y o'Shea (...,NaN,NaN,Deloitte,NaN,+55 34 90211-2211,acionistasbdr@santander.com.br,Madrid,...,"Securities, Commodity Contracts, and Other Fin...",523;522,1,05707616000110,1,1,1,0,Blackrock INC,5.01
4,3.0,Jbs S.A.,Joesley Mendonca Batista (Chairman of the Boar...,225422.0,2016.0,BDO,beef manufacturing,"+55 11 3144-4447, +55 11 3144-4224",ri@jbs.com.br,Sao Paulo (City),...,Manufacturing ; Animal Slaughtering and Proc...,31151;3116;316,1,02916265000160,1,1,2,0,Fb Participacoes S.A.,42.31
5,3.0,Jbs S.A.,Joesley Mendonca Batista (Chairman of the Boar...,225422.0,2016.0,BDO,beef manufacturing,"+55 11 3144-4447, +55 11 3144-4224",ri@jbs.com.br,Sao Paulo (City),...,Manufacturing ; Animal Slaughtering and Proc...,31151;3116;316,1,02916265000160,1,1,2,1,Bndes Participacoes S.A. - Bndespar,21.32
6,4.0,Itau Unibanco Holding S.A.,Alberto Sozin Furugem (Board of Directors - Co...,94779.0,2016.0,PwC,NaN,NaN,relacionamento.bacen@itau-unibanco.com.br,Sao Paulo (City),...,Banking and Credit Intermediation ; Management...,522;55,1,60872504000123,1,1,3,0,Itausa - Investimentos Itau S.A.,37.36
7,4.0,Itau Unibanco Holding S.A.,Alberto Sozin Furugem (Board of Directors - Co...,94779.0,2016.0,PwC,NaN,NaN,relacionamento.bacen@itau-unibanco.com.br,Sao Paulo (City),...,Banking and Credit Intermediation ; Management...,522;55,1,60872504000123,1,1,3,1,Iupar - Itau Unibanco Participacoes S.A.,26.10
8,4.0,Itau Unibanco Holding S.A.,Alberto Sozin Furugem (Board of Directors - Co...,94779.0,2016.0,PwC,NaN,NaN,relacionamento.bacen@itau-unibanco.com.br,Sao Paulo (City),...,Banking and Credit Intermediation ; Management...,522;55,1,60872504000123,1,1,3,2,Blackrock INC,3.56
9,5.0,Vale S.A.,Dan Antonio Marinho Conrado (Chairman of the B...,73062.0,2016.0,KPMG,"mining, steel producing, logistics and energy",+55 21 3814-4540,rogerio.nogueira@vale.com,Rio de Janeiro (City),...,Iron Ore Mining ; Support Activities for Trans...,21221;488;482;331,1,33592510000154,1,1,5,3,Mitsui & Co. Ltd,5.42
10,5.0,Vale S.A.,Dan Antonio Marinho Conrado (Chairman of the B...,73062.0,2016.0,KPMG,"mining, steel producing, logistics and energy",+55 21 3814-4540,rogerio.nogueira@vale.com,Rio de Janeiro (City),...,Iron Ore Mining ; Support Activities for Trans...,21221;488;482;331,1,33592510000154,1,1,5,2,Bradespar S.A.,6.30
11,5.0,Vale S.A.,Dan Antonio Marinho Conrado (Chairman of the B...,73062.0,2016.0,KPMG,"mining, steel producing, logistics and energy",+55 21 3814-4540,rogerio.nogueira@vale.com,Rio de Janeiro (City),...,Iron Ore Mining ; Support Activities for Trans...,21221;488;482;331,1,33592510000154,1,1,5,5,Blackrock Inc.,5.00
12,5.0,Vale S.A.,Dan Antonio Marinho Conrado (Chairman of the B...,73062.0,2016.0,KPMG,"mining, steel producing, logistics and energy",+55 21 3814-4540,rogerio.nogueira@vale.com,Rio de Janeiro (City),...,Iron Ore Mining ; Support Activities for Trans...,21221;488;482;331,1,33592510000154,1,1,5,0,Litel Participacoes S.A.,22.57
13,5.0,Vale S.A.,Dan Antonio Marinho Conrado (Chairman of the B...,73062.0,2016.0,KPMG,"mining, steel producing, logistics and energy",+55 21 3814-4540,rogerio.nogueira@vale.com,Rio de Janeiro (City),...,Iron Ore Mining ; Support Activities for Trans...,21221;488;482;331,1,33592510000154,1,1,5,1,Bndes Participacoes S.A. - Bndespar,7.89
14,6.0,Banco Bradesco S.A.,Lazaro de Mello Brandao (Chairman of the Board...,108525.0,2016.0,KPMG,NaN,NaN,4260.guilherme@bradesco.com.br,Osasco,...,Banking and Credit Intermediation,522,1,60746948000112,1,1,3,0,Cidade De Deus Companhia Comercial De Particip...,24.20

In [17]:
df_comp_info_single_equity_load[-5:]

,Index_Num,Company,Key_Executives,Employee_Number,Employee_Info_Year,Financial_Auditors,Main_Products,Phone,Email,Business_Description,...,Industry_List,NAICS_Num_List,Status,CNPJ,Audited,Consolidated,Shareholder_Num,Shareholder_Index,Shareholder,Equity
14826,9996.0,Sopecaero - Sobraer Pecas Aeronauticas Ltda,Philippe Robert Ghislain Stavaux (Director),NaN,NaN,NaN,NaN,+55-12-40093850; +55-12-40093880; +55-12-40093891,doc@asconnet.com.br,Number of employees: Between 50 and 199 employ...,...,Aerospace Product and Parts Manufacturing,3364,0,06247612000160,0,0,1,NaN,,NaN
14827,9997.0,Casa da Caridade Dom Orione,"Jarbas Assuncao Serpa (CEO), Marcio Almeida do...",730.0,2017.0,BDO,Emergency Rooms.,+55-63-3411-8787 ; +55-63-3411-8702,NaN,The company Casa de Caridade Dom Orione was fo...,...,Hospitals,622,0,01368232000160,1,0,1,NaN,,NaN
14828,9998.0,Screw-industria Metalmecanica S.A.,Diva Helena De Franceschi Ceolin (Partner),350.0,2015.0,NaN,NaN,+55-51-3722-3593,divaarq@bnet.com.br,The company Screw Ind. Metalmecanica S.A. is p...,...,"Agriculture, Construction, and Mining Machiner...",3331,0,00397908000180,0,0,1,NaN,,NaN
14829,9999.0,Pampili Produtos Para Meninas Ltda.,"Jose Roberto Colli (Director), Maria Aparecida...",2884.0,2015.0,NaN,girls footwear,+55-18-36422300; +55-18-36432380; +55-18-36432...,vanguarda@vanguardacontabilidade.com.br,Pampili Produtos para Meninas Ltda was opened ...,...,Footwear Manufacturing,3162,0,56794084000137,0,0,1,0,Maria Aparecida Mestriner Colli,50.0
14830,10000.0,Construtora Mello de Azevedo S.A.,"Nelson Parma de Azevedo (President), Danilo Br...",600.0,2016.0,Castro Serra Nirdo A,Construction Of Buildings.,+55-31-3289-7900,NaN,The company Construtora Mello de Azevedo was f...,...,"Highway, Street, and Bridge Construction ; Con...",2373;236,0,17154899000108,0,0,1,NaN,,NaN

In [25]:
# Check which company have only partial equity information (related to potential errors in parsing the shareholders)
count = 0
cnpj_set = set()
for cnpj in set(df_comp_info_single_equity['CNPJ']):
    equity_list = list(df_comp_info_single_equity[df_comp_info_single_equity['CNPJ']==cnpj]['Equity'])
    equity_nan_list = [np.isnan(ele) for ele in equity_list]
    if any(equity_nan_list) and not all(equity_nan_list):
        count += 1
        cnpj_set.add(cnpj)
        sh_list = list(df_comp_info_single_equity[df_comp_info_single_equity['CNPJ']==cnpj]['Shareholder'])
        sh_str_list = list(df_comp_info_single_equity[df_comp_info_single_equity['CNPJ']==cnpj]['Shareholder_String'])
        equity_list_str = [str(ele) for ele in equity_list]
        sh_list_str = [unicode(ele) for ele in sh_list ]
        print("Index: %s\n The CNPJ: %s\n The equity list: %s\n The shareholder list: %s\n The original shareholder string: %s" % (
                count, cnpj,equity_list,sh_list,sh_str_list[0]))
print("\nThe number of companies with partial equity information %s" % (count,))

Index: 1
 The CNPJ: 00950724000104
 The equity list: [100.0, nan]
 The shareholder list: [u'Grupo Orsa Participacoes S.A.', u'Jari Comercial S.A.']
 The original shareholder string: Grupo Orsa Participacoes S.A. (100.00%), Jari Comercial S.A.
Index: 2
 The CNPJ: 03983431000103
 The equity list: [27.71, nan, 23.5, 5.79]
 The shareholder list: [u'Edp International Investments And Services S.L.', u'Edp Is - Investimentos e Servi\xe7os', u'Sociedade Unipessoal Lda', u'T. Rowe Price Associates Inc.']
 The original shareholder string: Edp International Investments And Services, S.L. (27.71%), Edp Is - Investimentos e Serviços, Sociedade Unipessoal, Lda (23.50%), T. Rowe Price Associates, Inc. (5.79%)
Index: 3
 The CNPJ: 03002339000115
 The equity list: [100.0, nan]
 The shareholder list: [u'Lojas Renner S.A.', u'Dromegon Participacoes Ltda']
 The original shareholder string: Lojas Renner S.A. (100.00%), Dromegon Participacoes Ltda
Index: 4
 The CNPJ: 04221023000187
 The equity list: [100.0, nan]
 The shareholder list: [u'Via Varejo S.A.', u'Globex Administracao E Servicos Ltda']
 The original shareholder string: Via Varejo S.A. (100.00%), Globex Administracao E Servicos Ltda
Index: 5
 The CNPJ: 07779299000173
 The equity list: [100.0, nan]
 The shareholder list: [u'Companhia Celg De Participacoes', u'Humberto Eustaquio Tavares Correa']
 The original shareholder string: Companhia Celg De Participacoes (100.00%), Humberto Eustaquio Tavares Correa
Index: 6
 The CNPJ: 02221358000170
 The equity list: [8.77, 30.0, 7.23, 18.0, 7.23, nan, 8.77]
 The shareholder list: [u'Vereda Administra\xe7\xe3o e Empreendimentos Ltda', u'Jose Cartellone Construcciones Civiles S.A.', u'Goetze Lobato Engenharia Ltda', u'America Empreendimentos Ltda', u'Tucumam Engenharia e Empreendimentos Ltda', u'CODI do Brasil Ltda', u'Pattac Ind. Comercio e Minerais Ltda']
 The original shareholder string: Jose Cartellone Construcciones Civiles S.A. (30.00%), America Empreendimentos Ltda  (18.00%), Vereda Administração e Empreendimentos Ltda (8.77%), Pattac Ind. Comercio e Minerais Ltda (8.77%), Goetze Lobato Engenharia Ltda  (7.23%), Tucumam Engenharia e Empreendimentos Ltda  (7.23%), CODI do Brasil Ltda
Index: 7
 The CNPJ: 14578002000177
 The equity list: [100.0, nan]
 The shareholder list: [u'Eneva S.A.', u'Marcus Bernd Temke']
 The original shareholder string: Eneva S.A. (100.00%), Marcus Bernd Temke
Index: 8
 The CNPJ: 42123091000100
 The equity list: [100.0, nan]
 The shareholder list: [u'Valid Solucoes E Servicos De Seguranca Em Meios De Pagamento E Identificacao S.A.', u'Valid Participacoes Ltda']
 The original shareholder string: Valid Solucoes E Servicos De Seguranca Em Meios De Pagamento E Identificacao S.A. (100.00%), Valid Participacoes Ltda
Index: 9
 The CNPJ: 14807945000124
 The equity list: [nan, 73.94]
 The shareholder list: [u'Sansuy Administra\xe7\xe3o Participa\xe7\xe3o', u'Representa\xe7\xf5es e Servi\xe7os Ltda']
 The original shareholder string: Sansuy Administração Participação, Representações e Serviços Ltda (73.94%)
Index: 10
 The CNPJ: 02009924000184
 The equity list: [99.99, nan]
 The shareholder list: [u'Qualicorp S.A.', u'Qualicorp Administracao E Servicos Ltda']
 The original shareholder string: Qualicorp S.A. (99.99%), Qualicorp Administracao E Servicos Ltda
Index: 11
 The CNPJ: 08610386000165
 The equity list: [50.0, nan]
 The shareholder list: [u'Cyrela Brazil Realty Sa Emprs E Parts', u'Rafael Novellino']
 The original shareholder string: Cyrela Brazil Realty Sa Emprs E Parts (50.00%), Rafael Novellino
Index: 12
 The CNPJ: 47067525000108
 The equity list: [nan, 100.0]
 The shareholder list: [u'Louis Dreyfus Commodities North Latam Holdings B', u'V']
 The original shareholder string: Louis Dreyfus Commodities North Latam Holdings B,V (100.00%)
Index: 13
 The CNPJ: 11744699000110
 The equity list: [100.0, nan]
 The shareholder list: [u'Eneva S.A.', u'Ricardo De Souza Assef']
 The original shareholder string: Eneva S.A. (100.00%), Ricardo De Souza Assef
Index: 14
 The CNPJ: 08078847000109
 The equity list: [25.54, 12.91, 7.82, nan, 6.22, 4.35]
 The shareholder list: [u'Rosediamond Llp', u'Marcos Bulle Lopes', u'F.I.M Cr\xe9dito Privado Mocastland', u'Grantham', u'Mayo & Van Otterloo LLC', u'Francisco Lopes Neto']
 The original shareholder string: Rosediamond Llp (25.54%), Marcos Bulle Lopes (12.91%), F.I.M Crédito Privado Mocastland (7.82%), Grantham, Mayo & Van Otterloo, LLC (6.22%), Francisco Lopes Neto (4.35%)
Index: 15
 The CNPJ: 07207197000183
 The equity list: [100.0, nan, nan]
 The shareholder list: [u'Arteris S.A.', u'Participes En Brasil', u'S']
 The original shareholder string: Arteris S.A. (100.00%), Participes En Brasil, S
Index: 16
 The CNPJ: 08446503000105
 The equity list: [100.0, nan]
 The shareholder list: [u'Gaec Educacao S.A.', u'Mauricio Nogueira Escobar']
 The original shareholder string: Gaec Educacao S.A. (100.00%), Mauricio Nogueira Escobar
Index: 17
 The CNPJ: 02917443000177
 The equity list: [100.0, nan]
 The shareholder list: [u'Claro S.A.', u'Diretor']
 The original shareholder string: Claro S.A. (100.00%), Diretor
Index: 18
 The CNPJ: 03112879000151
 The equity list: [17.0, nan]
 The shareholder list: [u'Brz Investimentos S.A.', u'Grupo JCR']
 The original shareholder string: Brz Investimentos S.A. (17.00%), Grupo JCR
Index: 19
 The CNPJ: 72908353000103
 The equity list: [99.99, nan]
 The shareholder list: [u'International Meal Company Alimentacao S.A.', u'Pimenta Verde Alimentos Ltda']
 The original shareholder string: International Meal Company Alimentacao S.A. (99.99%), Pimenta Verde Alimentos Ltda
Index: 20
 The CNPJ: 04834395000189
 The equity list: [100.0, nan]
 The shareholder list: [u'Statkraft Energias Renovaveis S.A.', u'Engevix Engenharia S/A']
 The original shareholder string: Statkraft Energias Renovaveis S.A. (100.00%), Engevix Engenharia S/A
Index: 21
 The CNPJ: 09080006000190
 The equity list: [100.0, nan]
 The shareholder list: [u'Oi S.A. - Em Recuperacao Judicial', u'Marco Norci Schroeder']
 The original shareholder string: Oi S.A. - Em Recuperacao Judicial (100.00%), Marco Norci Schroeder
Index: 22
 The CNPJ: 61409892000173
 The equity list: [100.0, nan, nan, nan]
 The shareholder list: [u'Votorantim S.A.', u'Siderurgica Barra Mansa S.A.', u'S.A. Inds. Votorantim', u'Hejoassu Adm.']
 The original shareholder string: Votorantim S.A. (100.00%), Siderurgica Barra Mansa S.A., S.A. Inds. Votorantim, Hejoassu Adm.
Index: 23
 The CNPJ: 72712201000122
 The equity list: [nan, 11.36]
 The shareholder list: [u'Alvorada Cartoes', u'Credito Financiamento E Investimento S.a.']
 The original shareholder string: Alvorada Cartoes, Credito, Financiamento E Investimento S.a. (11.36%)
Index: 24
 The CNPJ: 01961898000127
 The equity list: [100.0, nan]
 The shareholder list: [u'Cargill Brazil Holding Ii B.V (holland)', u'Provimi B.V (holland)']
 The original shareholder string: Cargill Brazil Holding Ii B.V (holland) (100.00%), Provimi B.V (holland)
Index: 25
 The CNPJ: 90852914000173
 The equity list: [51.0, nan, nan]
 The shareholder list: [u'Randon S.A. Implementos E Participacoes', u'Meritor Do Brasil Sistemas Automotivos Ltda.', u'Randon Sa Implementos E Participacoes']
 The original shareholder string: Randon S.A. Implementos E Participacoes (51.00%), Meritor Do Brasil Sistemas Automotivos Ltda., Randon Sa Implementos E Participacoes
Index: 26
 The CNPJ: 33170085000105
 The equity list: [100.0, nan]
 The shareholder list: [u'Dhc Corporation', u'Nivaldo Venturini']
 The original shareholder string: Dhc Corporation (100.00%), Nivaldo Venturini
Index: 27
 The CNPJ: 30937874000130
 The equity list: [100.0, nan]
 The shareholder list: [u'Wlm Industria E Comercio S.A.', u'Sajutha Rio Participacoes S.A.']
 The original shareholder string: Wlm Industria E Comercio S.A. (100.00%), Sajutha Rio Participacoes S.A.
Index: 28
 The CNPJ: 89545511000100
 The equity list: [99.99, nan]
 The shareholder list: [u'Forjas Taurus S.A.', u'Taurus Investimentos Imobiliarios Ltda']
 The original shareholder string: Forjas Taurus S.A. (99.99%), Taurus Investimentos Imobiliarios Ltda
Index: 29
 The CNPJ: 12708358000152
 The equity list: [100.0, nan]
 The shareholder list: [u'Somos Educacao S.A.', u'Felipe Rocha Parente']
 The original shareholder string: Somos Educacao S.A. (100.00%), Felipe Rocha Parente
Index: 30
 The CNPJ: 03065552000176
 The equity list: [nan, nan, nan, 22.0, 3.7, 3.7]
 The shareholder list: [u'Roger de Moura Tonidandel Brasil Informacoes Adicionais Foi Informado Como Acionista Shoppings do Brasil Investimentos e Participacoes S/a', u'Porem Nao Dispomos do Seu Cnpj. Fonte: Ata da Assembleia Geral Extraordinaria. Data: 22/11/2011 a Empresa Informou Ter Aumentado o Capital Social Para 14.634.307', u'18', u'Porem Nao Dispomos do Documento Registrado. Fonte: Ata Age - 22/', u'Eduardo Gribel Homem de Castro', u'Adriana Lilian Camargos']
 The original shareholder string: Roger de Moura Tonidandel Brasil Informacoes Adicionais Foi Informado Como Acionista Shoppings do Brasil Investimentos e Participacoes S/a, Porem Nao Dispomos do Seu Cnpj. Fonte: Ata da Assembleia Geral Extraordinaria. Data: 22/11/2011 a Empresa Informou Ter Aumentado o Capital Social Para 14.634.307,18, Porem Nao Dispomos do Documento Registrado. Fonte: Ata Age - 22/ (22.00%), Eduardo Gribel Homem de Castro (3.70%), Adriana Lilian Camargos (3.70%)
Index: 31
 The CNPJ: 05808792000149
 The equity list: [100.0, nan]
 The shareholder list: [u'Kroton Educacional S.A.', u'Anhanguera Educacional Participacoes S.A.']
 The original shareholder string: Kroton Educacional S.A. (100.00%), Anhanguera Educacional Participacoes S.A.
Index: 32
 The CNPJ: 33022203000138
 The equity list: [41.0, 33.0, 8.6, 7.1, 6.8, 3.4, nan]
 The shareholder list: [u'Ludovico Landau Remy', u'Henrique Landau Remy', u'Helmut Landau Remy', u'Maria Landau Remy', u'Silvia Landau Remy', u'Maria Wolfring', u'Santa Julia Administradora Ltda']
 The original shareholder string: Ludovico Landau Remy (41.00%), Henrique Landau Remy (33.00%), Helmut Landau Remy (8.60%), Maria Landau Remy (7.10%), Silvia Landau Remy (6.80%), Maria Wolfring (3.40%), Santa Julia Administradora Ltda
Index: 33
 The CNPJ: 18499616000114
 The equity list: [100.0, nan]
 The shareholder list: [u'Votorantim S.A.', u'Votorantim Industrial S.A.']
 The original shareholder string: Votorantim S.A. (100.00%), Votorantim Industrial S.A.
Index: 34
 The CNPJ: 11395604000109
 The equity list: [99.99, nan]
 The shareholder list: [u'Invest.E Part.Em Infra-Estr.S.A.-Invepar', u'Jose Adelmario Pinheiro Filho']
 The original shareholder string: Invest.E Part.Em Infra-Estr.S.A.-Invepar (99.99%), Jose Adelmario Pinheiro Filho
Index: 35
 The CNPJ: 02619221000178
 The equity list: [100.0, nan]
 The shareholder list: [u'Light S.A.', u'Jerson Kelman']
 The original shareholder string: Light S.A. (100.00%), Jerson Kelman
Index: 36
 The CNPJ: 66703554000163
 The equity list: [99.99, nan, nan]
 The shareholder list: [u'Cyrela Brazil Realty Sa Emprs E Parts', u'Cybra De Investimento Imobiliario Ltda', u'Cyrela Brazil Realty S.A. Empreendimentos E Participacoes']
 The original shareholder string: Cyrela Brazil Realty Sa Emprs E Parts (99.99%), Cybra De Investimento Imobiliario Ltda, Cyrela Brazil Realty S.A. Empreendimentos E Participacoes
Index: 37
 The CNPJ: 54517628000198
 The equity list: [99.99, nan]
 The shareholder list: [u'Linx S.A.', u'Fabio Giani Orlovas']
 The original shareholder string: Linx S.A. (99.99%), Fabio Giani Orlovas
Index: 38
 The CNPJ: 02440482000126
 The equity list: [99.99, nan]
 The shareholder list: [u'Companhia  Melhoramentos De Sao Paulo', u'Marina Oehling Gelman']
 The original shareholder string: Companhia  Melhoramentos De Sao Paulo (99.99%), Marina Oehling Gelman
Index: 39
 The CNPJ: 11055041000100
 The equity list: [100.0, nan]
 The shareholder list: [u'Tpi - Triunfo Participacoes E Investimentos S.A.', u'Humberto Fajardo Nunes Da Silva']
 The original shareholder string: Tpi - Triunfo Participacoes E Investimentos S.A. (100.00%), Humberto Fajardo Nunes Da Silva
Index: 40
 The CNPJ: 42564807000105
 The equity list: [0.01, nan, 99.98]
 The shareholder list: [u'Caixa Benef dos Empregados da Csn', u'CIA Brasileira de Projetos Indl', u'Companhia Siderurgica Nacional Csn']
 The original shareholder string: Companhia Siderurgica Nacional Csn (99.98%), Caixa Benef dos Empregados da Csn (0.01%), CIA Brasileira de Projetos Indl
Index: 41
 The CNPJ: 34075739000184
 The equity list: [99.99, nan]
 The shareholder list: [u'Estacio Participacoes S.A.', u'Estacio Participacoes S.A.']
 The original shareholder string: Estacio Participacoes S.A. (99.99%), Estacio Participacoes S.A.
Index: 42
 The CNPJ: 05648257000178
 The equity list: [100.0, nan]
 The shareholder list: [u'Gaec Educacao S.A.', u'Atila Simoes Da Cunha']
 The original shareholder string: Gaec Educacao S.A. (100.00%), Atila Simoes Da Cunha
Index: 43
 The CNPJ: 63310411000101
 The equity list: [50.0, nan]
 The shareholder list: [u'Sao Miguel Holding E Investimentos S.a.', u'Strauss Coffee B.V']
 The original shareholder string: Sao Miguel Holding E Investimentos S.a. (50.00%), Strauss Coffee B.V
Index: 44
 The CNPJ: 50306471000109
 The equity list: [50.0, 50.0, nan]
 The shareholder list: [u'David Dayan', u'Siahou Haim Dayan', u'Pradeep Empreendimentos e Participacoes S.A.']
 The original shareholder string: David Dayan  (50.00%), Siahou Haim Dayan (50.00%), Pradeep Empreendimentos e Participacoes S.A.
Index: 45
 The CNPJ: 08902291000115
 The equity list: [87.52, nan]
 The shareholder list: [u'Cia Siderurgica Nacional', u'Carlos Alberto Rangel Carvalho']
 The original shareholder string: Cia Siderurgica Nacional (87.52%), Carlos Alberto Rangel Carvalho
Index: 46
 The CNPJ: 08322396000103
 The equity list: [nan, 99.9, 0.1]
 The shareholder list: [u'Cerradinho Acucar', u'Etanol e Energia S.A.', u'Cerradinho Holding S.A.']
 The original shareholder string: Cerradinho Acucar, Etanol e Energia S.A. (99.90%), Cerradinho Holding S.A. (0.10%)
Index: 47
 The CNPJ: 03870455000580
 The equity list: [47.91, nan, 29.3, nan, nan, nan]
 The shareholder list: [u'Mk Empreendimentos e Participacoes Ltda', u'Helder Couto de Mendonca', u'Mercatto Alimentos S.A', u'Vicente Camiloti', u'Maria Dalva Couto Mendonca', u'Helida Stael Mendonca']
 The original shareholder string: Mk Empreendimentos e Participacoes Ltda (47.91%), Mercatto Alimentos S.A (29.30%), Helder Couto de Mendonca, Helida Stael Mendonca, Maria Dalva Couto Mendonca, Vicente Camiloti
Index: 48
 The CNPJ: 02191601000154
 The equity list: [18.06, nan, nan, nan, nan]
 The shareholder list: [u'Construtora Cowan S.A.', u'Carioca Christiani Nielsen Engenharia S.A.', u'Strata Construcoes E Concessionarias Integradas S.A.', u'Preservar Participa\xe7\xf5es', u'Camargo Campos Sa Engenharia E Comercio']
 The original shareholder string: Construtora Cowan S.A. (18.06%), Carioca Christiani Nielsen Engenharia S.A., Strata Construcoes E Concessionarias Integradas S.A., Preservar Participações, Camargo Campos Sa Engenharia E Comercio
Index: 49
 The CNPJ: 33931494000187
 The equity list: [50.0, nan]
 The shareholder list: [u'Vale S.A.', u'Posco Investments Co. Ltd.']
 The original shareholder string: Vale S.A. (50.00%), Posco Investments Co. Ltd.
Index: 50
 The CNPJ: 13407617000178
 The equity list: [100.0, nan, nan]
 The shareholder list: [u'Grupo Isolux Corsan Concesiones S.L.', u'Grupo Isolux Corsan', u'S.A.']
 The original shareholder string: Grupo Isolux Corsan Concesiones, S.L. (100.00%), Grupo Isolux Corsan, S.A.
Index: 51
 The CNPJ: 04065033000170
 The equity list: [96.71, nan]
 The shareholder list: [u'Eletrobras', u'Presidente']
 The original shareholder string: Eletrobras (96.71%), Presidente
Index: 52
 The CNPJ: 06945520000153
 The equity list: [100.0, nan]
 The shareholder list: [u'Jbs S.A.', u'Saul Veras Boff']
 The original shareholder string: Jbs S.A. (100.00%), Saul Veras Boff
Index: 53
 The CNPJ: 03537249000129
 The equity list: [99.99, nan]
 The shareholder list: [u'Cia Siderurgica Nacional', u'Paulo Penido Pinto Marques']
 The original shareholder string: Cia Siderurgica Nacional (99.99%), Paulo Penido Pinto Marques
Index: 54
 The CNPJ: 84685106000166
 The equity list: [40.18, 39.6, 10.11, 10.11, nan]
 The shareholder list: [u'ROBERTO SCHNEIDER', u'RENATO SCHNEIDER', u'ROSEMARY PAULINE SCHNEIDER CALOMENO', u'MARGARET SCHNEIDER', u'OUTROS -------------------------------->']
 The original shareholder string: ROBERTO SCHNEIDER (40.18%), RENATO SCHNEIDER (39.60%), ROSEMARY PAULINE SCHNEIDER CALOMENO (10.11%), MARGARET SCHNEIDER (10.11%), OUTROS -------------------------------->
Index: 55
 The CNPJ: 08505736000123
 The equity list: [100.0, nan]
 The shareholder list: [u'J&F Investimentos S.A.', u'J&F Participa\xe7\xf5es']
 The original shareholder string: J&F Investimentos S.A. (100.00%),  J&F Participações
Index: 56
 The CNPJ: 09060964000108
 The equity list: [97.59, nan]
 The shareholder list: [u'International Meal Company Alimentacao S.A.', u'Comercial Frango Assado Ltda']
 The original shareholder string: International Meal Company Alimentacao S.A. (97.59%), Comercial Frango Assado Ltda
Index: 57
 The CNPJ: 62255682000130
 The equity list: [5.98, 31.51, 8.38, 5.35, 5.05, nan, 6.3]
 The shareholder list: [u'Romolo Giambastiani', u'Norte Energia Fundo de Invest. em Part.', u'Pio Gavazzi', u'Aldo Vincenzo Bertolucci', u'Ubaldo Lucio Maria Brignone', u'Camila Assuncao Appel', u'Manoel Horacio Francisco da Silva']
 The original shareholder string: Norte Energia Fundo de Invest. em Part. (31.51%), Pio Gavazzi (8.38%), Manoel Horacio Francisco da Silva (6.30%), Romolo Giambastiani (5.98%), Aldo Vincenzo Bertolucci (5.35%), Ubaldo Lucio Maria Brignone (5.05%), Camila Assuncao Appel

The number of companies with partial equity information 57

In [26]:
df_comp_info_single_equity[df_comp_info_single_equity['CNPJ']=='33000167000101']['Equity'][0]

28.670000000000002

## Preprocess the financial information

In [20]:
import pandas as pd
df_fina_info = pd.read_excel("../../Database/EMIS/Financials/5 years data/DATA (12).xlsx",header=[0,1],index_col=None,skiprows=7,skip_footer=3)

In [21]:
df_fina_info.shape

(103, 154)

In [22]:
df_fina_info['Num']=df_fina_info.index

In [23]:
df_fina_info=df_fina_info.reset_index()

In [24]:
df_fina_info[:5]

Num index            Country                     Company  \
          Unnamed: 0_level_1          Unnamed: 1_level_1
0     2.0             Brazil   Petroleo Brasileiro  S.A.
1     3.0             Brazil        Banco Santander S.A.
2     4.0             Brazil                    Jbs S.A.
3     5.0             Brazil  Itau Unibanco Holding S.A.
4     6.0             Brazil                   Vale S.A.

Num                                           Industry  \
                                    Unnamed: 2_level_1
0    Petroleum Refineries (32411); Natural Gas Extr...
1    Securities, Commodity Contracts, and Other Fin...
2    Dairy Product (except Frozen) Manufacturing  (...
3    Banking and Credit Intermediation (522); Manag...
4    Iron Ore Mining (21221); Support Activities fo...

Num                                National Fiscal IDs Total assets  \
                                    Unnamed: 3_level_1         2017
0    BVSP Company Ticker:PETRD11; CGC:33000167; CNP...          NaN
1                  CGC:05707616; CNPJ:05707616/0001-10   1734761.92
2    CGC:02916265; CNPJ:02916265/0001-60; ISIN:BRJB...          NaN
3    BVSP Company Ticker:ITAU4; CGC:60872504; CNPJ:...    433826.83
4    BVSP Company Ticker:VALE5; CGC:33592510; CNPJ:...     99191.80

Num                                                 ...   \
           2016        2015        2014        2013 ...
0     247006.57   230537.84   298721.71   321464.80 ...
1    1409677.49  1480035.60  1535584.17  1551769.63 ...
2      31550.19    31182.73    30891.10    29317.43 ...
3     415257.46   326908.70   424414.70   438584.72 ...
4      99023.00    88500.30   116501.20   124612.69 ...

Num Total operating revenue                  Audited, Consolidated  \
                       2014       2013 2012                   2017
0                 143411.44  141639.39  NaN                    NaN
1                  67369.76   62837.28  NaN  Audited, Consolidated
2                  51169.43   43046.42  NaN                    NaN
3                  39162.75   37027.09  NaN  Audited, Consolidated
4                  35565.15   47206.46  NaN  Audited, Consolidated

Num                                                                       \
                      2016                   2015                   2014
0    Audited, Consolidated  Audited, Consolidated  Audited, Consolidated
1    Audited, Consolidated  Audited, Consolidated  Audited, Consolidated
2    Audited, Consolidated  Audited, Consolidated  Audited, Consolidated
3    Audited, Consolidated  Audited, Consolidated  Audited, Consolidated
4    Audited, Consolidated  Audited, Consolidated  Audited, Consolidated

Num                              Num
                      2013 2012
0    Audited, Consolidated  NaN  2.0
1    Audited, Consolidated  NaN  3.0
2    Audited, Consolidated  NaN  4.0
3    Audited, Consolidated  NaN  5.0
4    Audited, Consolidated  NaN  6.0

[5 rows x 156 columns]

In [25]:
len(list(df_fina_info))

156

In [26]:
df_fina_info['Audited, Consolidated'].describe()

,2017,2016,2015,2014,2013,2012
count,37,85,87,91,95,1
unique,2,4,4,4,4,1
top,"Audited, Consolidated","Audited, Consolidated","Audited, Consolidated","Audited, Consolidated","Audited, Consolidated","Audited, Individual"
freq,36,69,72,72,72,1

In [27]:
import unidecode
name_list = df_fina_info.columns.levels[0].tolist()
name_list = [unidecode.unidecode(ele) for ele in name_list]
print(name_list)

['Audited, Consolidated', 'Cash and Cash Equivalents', 'Company', 'Country', 'Current assets', 'Current liabilities', 'Current loans and borrowings', 'Depreciation, amortization and impairment charges', 'EBITDA', 'Employee benefit expense', 'Industry', 'Inventories', 'National Fiscal IDs', 'Net Cash', 'Net Debt', 'Net Profit (Loss) for the Period', 'Net sales revenue', 'Non-current assets', 'Non-current liabilities', 'Operating profit (EBIT)', 'Profit before income tax', 'Raw materials and consumables used', 'Short term financial assets', 'Total assets', 'Total equity', 'Total liabilities', 'Total operating revenue', 'Trade and other payables', 'Trade and other receivables', 'Num', 'index']

/Users/kungangzhang/anaconda/envs/py27/lib/python2.7/site-packages/unidecode/__init__.py:46: RuntimeWarning: Argument <type 'str'> is not an unicode object. Passing an encoded string will likely have unexpected results.
  _warn_if_not_unicode(string)

In [27]:
import numpy as np
import re

def Append_Fina_Info(df_raw, df_target):
    """Preprocess a raw dataframe from financial information and append the results to target dataframe."""
    row_num = df_target.shape[0]
    print("The raw data has number of rows %s \n The target dataframe have number of rows %s" % (df_raw.shape[0], row_num))
    CNPJ_set = set()
    # To automate the 
    fina_column_name_level0_list = ['Cash and Cash Equivalents', 'Current assets', 
                                  'Current liabilities', 'Current loans and borrowings', 
                                  'Depreciation, amortization and impairment charges', 'EBITDA', 
                                  'Employee benefit expense', 'Inventories', 'Net Cash', 'Net Debt', 
                                  'Net Profit (Loss) for the Period', 'Net sales revenue', 'Non-current assets', 
                                  'Non-current liabilities', 'Operating profit (EBIT)', 'Profit before income tax', 
                                  'Raw materials and consumables used', 'Short term financial assets', 
                                  'Total assets', 'Total equity', 'Total liabilities', 'Total operating revenue', 
                                  'Trade and other payables', 'Trade and other receivables']
    for idx, row in df_raw.iterrows():
        # Each row have following value:['Index_Num','Company','Industry_List','NAICS_Num_List','CNPJ',
        #                                'Total_assets'*6,'Current assets'*6,'Inventories'*6,'Trade_and_other_receivables'*6,
        #                                'Cash_and_Cash_Equivalents'*6,'Short_term_financial_assets'*6,'Non-current_assets'*6,
        #                                'Total_equity'*6,'Total liabilities'*6,'Non-current_liabilities'*6,
        #                                'Current_liabilities'*6,'Current_loans_and_borrowings'*6,'Trade_and_other_payables'*6
        #                                'Net_Cash'*6,'Net_Debt'*6,'Raw_materials_and_consumables_used'*6,
        #                                'Employee benefit expense'*6,'EBITDA'*6,'Net_sales_revenue'*6,
        #                                'Depreciation_amortization_and_impairment_charges'*6,'Operating_profit(EBIT)'*6,
        #                                'Profit_before_income_tax'*6,'Net_Profit(Loss)_for_the_Period'*6,
        #                                'Total_operating_revenue'*6,'Audited_Consolidated'*6]
        if np.isnan(row['Num'][0]): # if this row is empty, skip; notice that this is multiindex so that I have to use [0]
            print("The row %s is invalid (%s)" % (idx, row['Num']))
            continue
        row_temp = []
        # Direct copy columns
        row_temp.extend(list(row['Num'])+list(row['Company']))
        # Industy and NAICS numbers
        row_temp.append(';'.join(re.findall(r'([^();]+)\([0-9]+\)',row['Industry'][0])))# For industry name
        # Cannot use comma, because this would mix with comma from csv
        row_temp.append(';'.join(re.findall(r'\(([0-9]+)\)',row['Industry'][0])))# For NAICS number
        # CNPJ
        CNPJ = ''.join(re.findall(r'CNPJ\s*:\s*([0-9]{8})/([0-9]{4})-([0-9]{2})',row['National Fiscal IDs'][0])[0])
        if CNPJ in CNPJ_set: # Check if any CNPJ is duplicated
            print("The index: %s; The company name: %s; The CNPJ: %s" % (row["Num"], row["Company"], CNPJ))
        else:
            CNPJ_set.add(CNPJ)
        row_temp.append(CNPJ)
        # All the 5 year financial information columns
        for col_name in fina_column_name_level0_list:
            row_temp.extend(list(row[col_name]))
            #not use the following line of code because we cannot ensure the order in that way
        #row_temp.extend(list(row[fina_column_name_level0_list]))
        # 'Audited, Consolidated'
        AC_res = list(row['Audited, Consolidated'])
        Audited = []
        Consolidated = []
        for ele in AC_res:
            # Search for 'Audited' or 'Non-Audited'
            try:
                audited_re = re.findall(r'Non-Audited',ele)
                if audited_re:
                    Audited.append(0)
                else:
                    Audited.append(1)
            except TypeError as e:
                Audited.append(np.nan)
            # Search for 'Consolidated' or 'Individual'
            try:
                audited_re = re.findall(r'Individual',ele)
                if audited_re:
                    Consolidated.append(0)
                else:
                    Consolidated.append(1)
            except TypeError as e:
                Consolidated.append(np.nan)
        row_temp.extend(Audited)
        row_temp.extend(Consolidated)
        df_target.loc[row_num] = row_temp
        row_num += 1
            
    print("\nCurrent number of rows of the target dataframe %s; The number of unique CNPJ is %s" % (df_target.shape[0], len(CNPJ_set)))

In [28]:
for idx, row in df_fina_info[:5].iterrows():
    print(row['Industry'][0])
    #print(row[['Num','Total assets', 'Current assets']])

NameError: name 'df_fina_info' is not defined

In [30]:
df_fina_info.columns

MultiIndex(levels=[[u'Audited, Consolidated', u'Cash and Cash Equivalents', u'Company', u'Country', u'Current assets', u'Current liabilities', u'Current loans and borrowings', u'Depreciation, amortization and impairment charges', u'EBITDA', u'Employee benefit expense', u'Industry', u'Inventories', u'National Fiscal IDs', u'Net Cash', u'Net Debt', u'Net Profit (Loss) for the Period', u'Net sales revenue', u'Non-current assets', u'Non-current liabilities', u'Operating profit (EBIT)', u'Profit before income tax', u'Raw materials and consumables used', u'Short term financial assets', u'Total assets', u'Total equity', u'Total liabilities', u'Total operating revenue', u'Trade and other payables', u'Trade and other receivables', u'Num', u'index'], [u'2012', u'2013', u'2014', u'2015', u'2016', u'2017', u'Unnamed: 0_level_1', u'Unnamed: 1_level_1', u'Unnamed: 2_level_1', u'Unnamed: 3_level_1', u'']],
           labels=[[30, 3, 2, 10, 12, 23, 23, 23, 23, 23, 23, 4, 4, 4, 4, 4, 4, 11, 11, 11, 11, 11, 11, 28, 28, 28, 28, 28, 28, 1, 1, 1, 1, 1, 1, 22, 22, 22, 22, 22, 22, 17, 17, 17, 17, 17, 17, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 18, 18, 18, 18, 18, 18, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 27, 27, 27, 27, 27, 27, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 21, 21, 21, 21, 21, 21, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 16, 16, 16, 16, 16, 16, 7, 7, 7, 7, 7, 7, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 15, 15, 15, 15, 15, 15, 26, 26, 26, 26, 26, 26, 0, 0, 0, 0, 0, 0, 29], [10, 6, 7, 8, 9, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 5, 4, 3, 2, 1, 0, 10]],
           names=[u'Num', None])

In [29]:
column_name_tuple_list = []
column_name_tuple_list.extend([('Index_Num',''),('Company',''),('Industry_List',''),('NAICS_Num_List',''),('CNPJ','')])
fina_column_name_level0_list = ['Cash and Cash Equivalents', 'Current assets', 
                              'Current liabilities', 'Current loans and borrowings', 
                              'Depreciation, amortization and impairment charges', 'EBITDA', 
                              'Employee benefit expense', 'Inventories', 'Net Cash', 'Net Debt', 
                              'Net Profit (Loss) for the Period', 'Net sales revenue', 'Non-current assets', 
                              'Non-current liabilities', 'Operating profit (EBIT)', 'Profit before income tax', 
                              'Raw materials and consumables used', 'Short term financial assets', 
                              'Total assets', 'Total equity', 'Total liabilities', 'Total operating revenue', 
                              'Trade and other payables', 'Trade and other receivables','Audited','Consolidated']
fina_column_name_level0_list = ['_'.join(ele.split(' ')) for ele in fina_column_name_level0_list]
year_list = ['2017','2016','2015','2014','2013','2012']
for col_name in fina_column_name_level0_list:
    for year in year_list:
        column_name_tuple_list.append((col_name, year))
col_multiindex = pd.MultiIndex.from_tuples(column_name_tuple_list, names=['Column','Year'])
col_multiindex

MultiIndex(levels=[[u'Audited', u'CNPJ', u'Cash_and_Cash_Equivalents', u'Company', u'Consolidated', u'Current_assets', u'Current_liabilities', u'Current_loans_and_borrowings', u'Depreciation,_amortization_and_impairment_charges', u'EBITDA', u'Employee_benefit_expense', u'Index_Num', u'Industry_List', u'Inventories', u'NAICS_Num_List', u'Net_Cash', u'Net_Debt', u'Net_Profit_(Loss)_for_the_Period', u'Net_sales_revenue', u'Non-current_assets', u'Non-current_liabilities', u'Operating_profit_(EBIT)', u'Profit_before_income_tax', u'Raw_materials_and_consumables_used', u'Short_term_financial_assets', u'Total_assets', u'Total_equity', u'Total_liabilities', u'Total_operating_revenue', u'Trade_and_other_payables', u'Trade_and_other_receivables'], [u'', u'2012', u'2013', u'2014', u'2015', u'2016', u'2017']],
           labels=[[11, 3, 12, 14, 1, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 13, 13, 13, 13, 13, 13, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4], [0, 0, 0, 0, 0, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1]],
           names=[u'Column', u'Year'])

In [30]:
df_fina_info_clean = pd.DataFrame(columns = col_multiindex)
Append_Fina_Info(df_fina_info, df_fina_info_clean)

NameError: name 'df_fina_info' is not defined

In [31]:
import os
import pandas as pd
from time import time
df_fina_info_clean = pd.DataFrame(columns = col_multiindex)
for filename in os.listdir('../../Database/EMIS/Financials/5 years data/'):
    start_time = time()
    df_raw = pd.read_excel(('../../Database/EMIS/Financials/5 years data/'+filename),header=[0,1],index_col=None,skiprows=7,skip_footer=3)
    df_raw['Num']=df_raw.index #This line is necessary because 'index_col' seems doesn't work
    Append_Fina_Info(df_raw,df_fina_info_clean)
    print('Filename: %s; Time: %s' % (filename, (time()-start_time)))

The raw data has number of rows 103
 The target dataframe have number of rows 0
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 100; The number of unique CNPJ is 100
Filename: DATA (12).xlsx; Time: 2.50987815857
The raw data has number of rows 103
 The target dataframe have number of rows 100
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 200; The number of unique CNPJ is 100
Filename: DATA (13).xlsx; Time: 2.48401808739
The raw data has number of rows 103
 The target dataframe have number of rows 200
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 300; The number of unique CNPJ is 100
Filename: DATA (14).xlsx; Time: 2.48299503326
The raw data has number of rows 103
 The target dataframe have number of rows 300
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 400; The number of unique CNPJ is 100
Filename: DATA (15).xlsx; Time: 2.62794518471
The raw data has number of rows 103
 The target dataframe have number of rows 400
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 500; The number of unique CNPJ is 100
Filename: DATA (16).xlsx; Time: 2.46488499641
The raw data has number of rows 103
 The target dataframe have number of rows 500
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 600; The number of unique CNPJ is 100
Filename: DATA (17).xlsx; Time: 2.51913499832
The raw data has number of rows 103
 The target dataframe have number of rows 600
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 700; The number of unique CNPJ is 100
Filename: DATA (18).xlsx; Time: 2.53268313408
The raw data has number of rows 103
 The target dataframe have number of rows 700
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 800; The number of unique CNPJ is 100
Filename: DATA (19).xlsx; Time: 2.49550414085
The raw data has number of rows 103
 The target dataframe have number of rows 800
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 900; The number of unique CNPJ is 100
Filename: DATA (20).xlsx; Time: 2.64570593834
The raw data has number of rows 103
 The target dataframe have number of rows 900
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1000; The number of unique CNPJ is 100
Filename: DATA (21).xlsx; Time: 2.63143992424
The raw data has number of rows 103
 The target dataframe have number of rows 1000
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1100; The number of unique CNPJ is 100
Filename: DATA (22).xlsx; Time: 2.69640302658
The raw data has number of rows 103
 The target dataframe have number of rows 1100
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1200; The number of unique CNPJ is 100
Filename: DATA (23).xlsx; Time: 2.72803902626
The raw data has number of rows 103
 The target dataframe have number of rows 1200
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1300; The number of unique CNPJ is 100
Filename: DATA (24).xlsx; Time: 2.75514984131
The raw data has number of rows 103
 The target dataframe have number of rows 1300
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1400; The number of unique CNPJ is 100
Filename: DATA (25).xlsx; Time: 2.8845911026
The raw data has number of rows 103
 The target dataframe have number of rows 1400
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1500; The number of unique CNPJ is 100
Filename: DATA (26).xlsx; Time: 2.85160899162
The raw data has number of rows 103
 The target dataframe have number of rows 1500
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1600; The number of unique CNPJ is 100
Filename: DATA (27).xlsx; Time: 2.83483576775
The raw data has number of rows 103
 The target dataframe have number of rows 1600
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1700; The number of unique CNPJ is 100
Filename: DATA (28).xlsx; Time: 2.83991718292
The raw data has number of rows 103
 The target dataframe have number of rows 1700
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1800; The number of unique CNPJ is 100
Filename: DATA (29).xlsx; Time: 2.87633609772
The raw data has number of rows 103
 The target dataframe have number of rows 1800
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 1900; The number of unique CNPJ is 100
Filename: DATA (30).xlsx; Time: 2.95030093193
The raw data has number of rows 103
 The target dataframe have number of rows 1900
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2000; The number of unique CNPJ is 100
Filename: DATA (31).xlsx; Time: 2.99673104286
The raw data has number of rows 103
 The target dataframe have number of rows 2000
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2100; The number of unique CNPJ is 100
Filename: DATA (32).xlsx; Time: 2.90995907784
The raw data has number of rows 103
 The target dataframe have number of rows 2100
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2200; The number of unique CNPJ is 100
Filename: DATA (33).xlsx; Time: 2.96816778183
The raw data has number of rows 103
 The target dataframe have number of rows 2200
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2300; The number of unique CNPJ is 100
Filename: DATA (34).xlsx; Time: 3.06385087967
The raw data has number of rows 103
 The target dataframe have number of rows 2300
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2400; The number of unique CNPJ is 100
Filename: DATA (35).xlsx; Time: 3.04128599167
The raw data has number of rows 103
 The target dataframe have number of rows 2400
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2500; The number of unique CNPJ is 100
Filename: DATA (36).xlsx; Time: 3.1673951149
The raw data has number of rows 103
 The target dataframe have number of rows 2500
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2600; The number of unique CNPJ is 100
Filename: DATA (37).xlsx; Time: 3.1195101738
The raw data has number of rows 103
 The target dataframe have number of rows 2600
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2700; The number of unique CNPJ is 100
Filename: DATA (38).xlsx; Time: 3.03365492821
The raw data has number of rows 103
 The target dataframe have number of rows 2700
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2800; The number of unique CNPJ is 100
Filename: DATA (39).xlsx; Time: 3.1778678894
The raw data has number of rows 103
 The target dataframe have number of rows 2800
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 2900; The number of unique CNPJ is 100
Filename: DATA (40).xlsx; Time: 3.16346311569
The raw data has number of rows 103
 The target dataframe have number of rows 2900
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3000; The number of unique CNPJ is 100
Filename: DATA (41).xlsx; Time: 3.17682003975
The raw data has number of rows 103
 The target dataframe have number of rows 3000
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3100; The number of unique CNPJ is 100
Filename: DATA (42).xlsx; Time: 3.19942307472
The raw data has number of rows 103
 The target dataframe have number of rows 3100
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3200; The number of unique CNPJ is 100
Filename: DATA (43).xlsx; Time: 3.22406506538
The raw data has number of rows 103
 The target dataframe have number of rows 3200
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3300; The number of unique CNPJ is 100
Filename: DATA (44).xlsx; Time: 3.2200319767
The raw data has number of rows 103
 The target dataframe have number of rows 3300
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3400; The number of unique CNPJ is 100
Filename: DATA (45).xlsx; Time: 3.24718308449
The raw data has number of rows 103
 The target dataframe have number of rows 3400
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3500; The number of unique CNPJ is 100
Filename: DATA (46).xlsx; Time: 3.44545102119
The raw data has number of rows 103
 The target dataframe have number of rows 3500
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3600; The number of unique CNPJ is 100
Filename: DATA (47).xlsx; Time: 3.44792890549
The raw data has number of rows 103
 The target dataframe have number of rows 3600
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3700; The number of unique CNPJ is 100
Filename: DATA (48).xlsx; Time: 3.41442584991
The raw data has number of rows 103
 The target dataframe have number of rows 3700
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3800; The number of unique CNPJ is 100
Filename: DATA (49).xlsx; Time: 3.37006282806
The raw data has number of rows 103
 The target dataframe have number of rows 3800
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 3900; The number of unique CNPJ is 100
Filename: DATA (50).xlsx; Time: 3.37651515007
The raw data has number of rows 103
 The target dataframe have number of rows 3900
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4000; The number of unique CNPJ is 100
Filename: DATA (51).xlsx; Time: 3.53811717033
The raw data has number of rows 103
 The target dataframe have number of rows 4000
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4100; The number of unique CNPJ is 100
Filename: DATA (52).xlsx; Time: 3.52932405472
The raw data has number of rows 103
 The target dataframe have number of rows 4100
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4200; The number of unique CNPJ is 100
Filename: DATA (53).xlsx; Time: 3.49633002281
The raw data has number of rows 103
 The target dataframe have number of rows 4200
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4300; The number of unique CNPJ is 100
Filename: DATA (54).xlsx; Time: 3.45162820816
The raw data has number of rows 103
 The target dataframe have number of rows 4300
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4400; The number of unique CNPJ is 100
Filename: DATA (55).xlsx; Time: 3.49872684479
The raw data has number of rows 103
 The target dataframe have number of rows 4400
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4500; The number of unique CNPJ is 100
Filename: DATA (56).xlsx; Time: 3.54258584976
The raw data has number of rows 103
 The target dataframe have number of rows 4500
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4600; The number of unique CNPJ is 100
Filename: DATA (57).xlsx; Time: 3.6083381176
The raw data has number of rows 103
 The target dataframe have number of rows 4600
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4700; The number of unique CNPJ is 100
Filename: DATA (58).xlsx; Time: 3.65456604958
The raw data has number of rows 103
 The target dataframe have number of rows 4700
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4800; The number of unique CNPJ is 100
Filename: DATA (59).xlsx; Time: 3.70326590538
The raw data has number of rows 103
 The target dataframe have number of rows 4800
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 4900; The number of unique CNPJ is 100
Filename: DATA (60).xlsx; Time: 3.74924707413
The raw data has number of rows 103
 The target dataframe have number of rows 4900
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 5000; The number of unique CNPJ is 100
Filename: DATA (61).xlsx; Time: 3.68958497047
The raw data has number of rows 103
 The target dataframe have number of rows 5000
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)
The row nan is invalid (    NaN
Name: nan, dtype: object)

Current number of rows of the target dataframe 5100; The number of unique CNPJ is 100
Filename: DATA (62).xlsx; Time: 3.8096139431
The raw data has number of rows 103
 The target dataframe have number of rows 5100
The row nan is invalid (    NaN

In [39]:
df_fina_info_clean.shape

(10000, 161)

In [40]:
for idx, num in enumerate(df_fina_info_clean['Index_Num','']):
    df_fina_info_clean.at[idx, 'Index_Num'] = int(num)-1

In [41]:
df_fina_info_clean = df_fina_info_clean.sort_values('Index_Num')
df_fina_info_clean.reset_index(drop=True,inplace=True)# This line is necessary.

In [42]:
# Cannot store in .csv file, becasue the string in this dataframe has lots of special characters
df_fina_info_clean.to_pickle('../../Database/EMIS/preprocessed/fina_info_20180309.pickle')

In [36]:
df_fina_info_clean_load = pd.read_pickle('../../Database/EMIS/preprocessed/fina_info_20180309.pickle')

In [37]:
df_fina_info_clean[:15]

Column Index_Num                             Company  \
Year
0            1.0           Petroleo Brasileiro  S.A.
1            2.0                Banco Santander S.A.
2            3.0                            Jbs S.A.
3            4.0          Itau Unibanco Holding S.A.
4            5.0                           Vale S.A.
5            6.0                 Banco Bradesco S.A.
6            7.0         Ultrapar Participacoes S.A.
7            8.0               BR Distribuidora S.A.
8            9.0            Raizen Combustiveis S.A.
9           10.0  Ipiranga Produtos de Petroleo S.A.
10          11.0                          Eletrobras
11          12.0                Banco Do Brasil S.A.
12          13.0                     O Atacadao S.A.
13          14.0                  Itau Unibanco S.A.
14          15.0                          Ambev S.A.

Column                                      Industry_List  \
Year
0       Petroleum Refineries ; Natural Gas Extraction ...
1       Securities, Commodity Contracts, and Other Fin...
2        Manufacturing  ; Animal Slaughtering and Proc...
3       Banking and Credit Intermediation ; Management...
4       Iron Ore Mining ; Support Activities for Trans...
5                      Banking and Credit Intermediation
6       Chemical and Allied Products Merchant Wholesal...
7       Petroleum and Petroleum Products Merchant Whol...
8       Petroleum and Petroleum Products Merchant Whol...
9       Petroleum and Petroleum Products Merchant Whol...
10      Electric Power Transmission, Control, and Dist...
11                     Banking and Credit Intermediation
12      Grocery and Related Product Merchant Wholesale...
13                     Banking and Credit Intermediation
14          Breweries ; Soft Drink and Ice Manufacturing

Column           NAICS_Num_List            CNPJ Cash_and_Cash_Equivalents  \
Year                                                                 2017
0             32411;21113;21112  33000167000101                       NaN
1                       523;522  05707616000110                 133316.81
2                31151;3116;316  02916265000160                       NaN
3                        522;55  60872504000123                   5668.29
4             21221;488;482;331  33592510000154                   4328.54
5                           522  60746948000112                  24712.93
6       4246;2212;447;325;55;48  33256439000139                   1512.23
7                          4247  34274233000102                       NaN
8                      4247;447  33453598000123                    192.17
9                      4247;447  33337122000127                       NaN
10                     22112;55  00001180000126                       NaN
11                          522  00000000000191                 135971.74
12                     4244;488  75315333000109                   1452.37
13                          522  60701190000104                       NaN
14                  31212;31211  07526557000100                   3130.43

Column                                            ...  Audited                 \
Year         2016      2015       2014       2013 ...     2015 2014 2013 2012
0        21206.58  25059.55   16656.88   15869.87 ...        1    1    1  NaN
1        80482.08  85859.91   84707.63  107232.63 ...        1    1    1  NaN
2         1721.16   2759.93    3150.92    2012.28 ...        1    1    1  NaN
3         5689.82   4749.39    6599.27    7076.80 ...        1    1    1  NaN
4         4262.49   3591.17    3974.30    5321.80 ...        1    1    1  NaN
5        22264.22  40451.82   24635.83   28796.64 ...        1    1    1  NaN
6         1311.57    692.25    1064.56     971.72 ...        1    1    1  NaN
7          200.99    207.45     279.38     397.47 ...        1    1    1  NaN
8          406.92     90.49     273.74      84.22 ...        1    1    1  NaN
9          350.27    392.53     544.05     475.58 ...        1    1    1  NaN
10         724.50    522.83    1186.27    1911.53 ...        1    1    1  NaN
11       31645.93  26303.01   23373.84   29390.62 ...        1    1    1  NaN
12         994.84    738.12     636.32     393.74 ...        1    1    0  NaN
13      117906.47  99778.55  124058.40  113544.19 ...        1    1    1  NaN
14        2417.10   3488.32    3660.55    4926.03 ...        1    1    1  NaN

Column Consolidated
Year           2017 2016 2015 2014 2013 2012
0               NaN    1    1    1    1  NaN
1               1.0    1    1    1    1  NaN
2               NaN    1    1    1    1  NaN
3               1.0    1    1    1    1  NaN
4               1.0    1    1    1    1  NaN
5               1.0    1    1    1    1  NaN
6               1.0    1    1    1    1  NaN
7               NaN    1    1    1    1  NaN
8               1.0    1    1    1    1  NaN
9               NaN    0    0    0    0  NaN
10              NaN    1    1    1    1  NaN
11              0.0    1    1    1    1  NaN
12              1.0    1    1    1    0  NaN
13              NaN    0    0    0    0  NaN
14              1.0    1    1    1    1  NaN

[15 rows x 161 columns]

In [38]:
df_fina_info_clean[-5:]

Column Index_Num                                            Company  \
Year
9995      9996.0                        Casa da Caridade Dom Orione
9996      9997.0                 Screw-industria Metalmecanica S.A.
9997      9998.0                Pampili Produtos Para Meninas Ltda.
9998      9999.0                  Construtora Mello de Azevedo S.A.
9999     10000.0  Galmar Industria E Comercio De Ferramentas E E...

Column                                      Industry_List NAICS_Num_List  \
Year
9995                                           Hospitals             622
9996    Agriculture, Construction, and Mining Machiner...           3331
9997                              Footwear Manufacturing            3162
9998    Highway, Street, and Bridge Construction ; Con...       2373;236
9999              and Screw, Nut, and Bolt Manufacturing            3327

Column            CNPJ Cash_and_Cash_Equivalents                         ...   \
Year                                        2017  2016  2015  2014  2013 ...
9995    01368232000160                       NaN  0.03  0.06  0.18  0.37 ...
9996    00397908000180                       NaN  0.79  1.04  0.85  1.40 ...
9997    56794084000137                       NaN   NaN   NaN   NaN   NaN ...
9998    17154899000108                       NaN  0.30  0.03  0.08  0.02 ...
9999    56264351000164                       NaN   NaN   NaN   NaN   NaN ...

Column Audited                Consolidated
Year      2015 2014 2013 2012         2017 2016 2015 2014 2013 2012
9995         1    1    0  NaN          NaN    0    0    0    0  NaN
9996         0    0    0  0.0          NaN    0    0    0    0  0.0
9997       NaN  NaN  NaN  NaN          NaN  NaN  NaN  NaN  NaN  NaN
9998         0    0    0  NaN          NaN    0    0    0    0  NaN
9999       NaN  NaN  NaN  NaN          NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 161 columns]

In [53]:
df_fina_info_clean_load['Total_assets'][:5]

Year        2017        2016        2015        2014        2013  2012
0            NaN   247006.57   230537.84   298721.71   321464.80   NaN
1     1734761.92  1409677.49  1480035.60  1535584.17  1551769.63   NaN
2            NaN    31550.19    31182.73    30891.10    29317.43   NaN
3      433826.83   415257.46   326908.70   424414.70   438584.72   NaN
4       99191.80    99023.00    88500.30   116501.20   124612.69   NaN